.library-buttons {
  display: block;
  text-align: center;
}

@media screen and (min-width: 320px) {
  .library-button {
    font-family: inherit;
    font-size: 12px;
    background: transparent;
    text-decoration: none;
    color: #ffffff;
    height: 44px;
    width: 130px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid #ffffff;
    &:hover,
    &:focus {
      background-color: $color-btn-bg;
      border: transparent;
    }
  }

  .library-button:last-child {
    margin-left: 15px;
  }
}
@media screen and (min-width: 768px) {
  .library-button {
    width: 136px;
  }
}

.active-btn {
  background-color: #ff6b01;
  border: 0;
}

.transparent-btn {
  background: transparent;
  color: $txt-modal-color;
  border: 1px solid $txt-modal-color;
}

// Button Show more

// .show-more-container {
//   display: block;
//   text-align: center;
// }

// @media screen and (min-width: 320px) {
//   .show-more-btn {
//     font-family: inherit;
//     font-size: 12px;
//     background: transparent;
//     text-decoration: none;
//     color: #ffffff;
//     height: 44px;
//     width: 130px;
//     border-radius: 5px;
//     border: none;
//     outline: none;
//     cursor: pointer;
//     text-transform: uppercase;
//     border: 1px solid #ffffff;
//     &:hover,
//     &:focus {
//       background-color: $color-btn-bg;
//       border: transparent;
//     }
//   }
// }
// ---------------------------

// @media screen and (min-width: 320px) {

// .modal-button{
//         font-family: inherit;
//         font-size: 12px;
//         background: transparent;
//         text-decoration: none;
//         color: #000000;
//         height: 44px;
//         width: 112px;
//         border-radius: 5px;
//         border: none;
//         outline: none;
//         cursor: pointer;
//         text-transform: uppercase;
//         border: 1px solid #000000;
// }
//     &:last-child{
//         margin-left: 15px;
//     }
// }

@media screen and (min-width: 768px) {
  .modal-button {
    width: 125px;
  }
}

@media screen and (min-width: 1024px) {
  .modal-button {
    width: 136px;
  }
}

.active-modal-btn {
  background-color: #ff6b01;
  color: #ffffff;
  border: 0;
}
