.film-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media screen and (min-width: 768px) {
    margin: -15px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.film-item {
  display: block;
  border-radius: 5px;
  max-width: 280px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    box-shadow: 0px 8px 70px #ff6b08;
  }
  will-change: transform;

  &:hover,
  &:focus {
    transform: scale(1.05);
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
    transition-duration: 250ms;
  }

  &:not(last-child) {
    margin-bottom: 20px;
  }
  @media screen and (min-width: 768px) {
    margin: 15px;
    width: calc((100% - 2 * 30px) / 2);
    max-width: 294px;
  }
  @media screen and (min-width: 1024px) {
    width: calc((100% - 3 * 30px) / 3);
    max-width: 274px;
  }
}
.film-link {
  display: block;
  width: 100%;
  height: 100%;
}
.film-description {
  font-family: $font-family;
  font-weight: 500;
  font-size: 12px;
  padding-left: 5px;
  padding-bottom: 5px;
  line-height: 16px;
  text-transform: uppercase;
  color: $txt-modal-color;
}
.film-raiting {
  background: $active-color-txt;
}
.film-gengers {
  color: $active-color-txt;
  text-transform: none;
}
.film-img {
  width: 100%;
  height: 400px;
  margin-bottom: 5px;
  border-radius: 5px;
}
.film-raiting {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  padding: 1px 10px;
  color: $main-color-txt;
  background: $color-btn-bg;
  border-radius: 5px;
  margin-left: 10px;
}

.section-hero {
  max-width: 100%;
  min-height: calc(100vh - 250px);
  padding-top: 20px;
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    padding-bottom: 60px;
    padding-top: 60px;
  }

  @media screen and (max-width: 768px) {
    min-height: calc(100vh - 200px);
  }
}
