.clock {
  width: 90px;
  height: 90px;
  position: absolute;
  top: 10px;
  left: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../images/js-clock.PNG'),
    radial-gradient(circle, rgb(37, 73, 90) 0%, rgb(25, 48, 60) 11%, rgba(9, 25, 33, 1) 38%);
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0 -15px 15px rgba(134, 134, 134, 0.35), inset 0 -15px 15px #191919,
    0 15px 15px rgba(134, 134, 134, 0.35), inset 0 15px 15px #706666;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.clock:before {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: #ffffff;
  border-radius: 50%;
  z-index: 999;
}

.clock .hour,
.clock .min,
.clock .sec {
  position: absolute;
}

.clock .hour,
.hr {
  width: 55px;
  height: 55px;
}
.clock .min,
.mn {
  width: 65px;
  height: 65px;
}
.clock .sec,
.sc {
  width: 75px;
  height: 75px;
}

.hr,
.mn,
.sc {
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 50%;
}

.hr:before {
  content: '';
  position: absolute;
  width: 4px;
  height: 30px;
  background-color: #ffffff;
  z-index: 10;
  border-radius: 6px 6px 0 0;
}
.mn:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 35px;
  background-color: #fff;
  z-index: 11;
  border-radius: 6px 6px 0 0;
}
.sc:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 55px;
  background-color: #fff;
  z-index: 12;
  border-radius: 6px 6px 0 0;
}
