.header {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 58px;
  padding-bottom: 158px;
  @media screen and (min-width: 320px) and (max-width: 1023px) {
    width: 100%;
    background-size: cover;
  }
}
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 37px;
}
.nav-logo {
  display: block;
  font-weight: 500;
  font-size: 30px;
  color: $main-color-txt;
}
.logo-style {
  display: flex;
  text-align: center;
}
.nav-logo-icon {
  width: 24px;
  height: 24px;
  margin-right: 108px;
}
.logo-text {
  display: none;
}
.search-film {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-film-input {
  width: 280px;
  background: transparent;
  border: transparent;
  border-bottom: 1px solid $main-color-txt;
  font-size: 14px;
  line-height: 1.17;
  color: $main-color-txt;

  &:focus {
    outline: none;
    border-bottom: 1px solid $active-color-txt;
  }

  &::placeholder {
    color: $main-color-txt;
  }
}
.form-input-wrapper {
  display: block;
  position: relative;
}

.submit-button {
  background: transparent;
  border: none;
  position: absolute;
  right: 1px;
  top: 5px;
}
.search-icon {
  position: absolute;
  display: block;
  right: 0;
  width: 12px;
  height: 12px;
  top: 0%;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .logo-text {
    display: block;
    font-weight: 500;
    font-size: 30px;
    color: $main-color-txt;
    margin-right: 303px;
  }
  .nav-logo {
    margin-right: 0px;
  }
  .nav-logo-icon {
    margin-right: 10px;
  }
  .search-film-input {
    width: 336px;
  }
  .nav-logo-icon {
    margin-top: 6px;
  }
}

@media screen and (min-width: 1024px) {
  .logo-text {
    margin-right: 565px;
  }
}
