.background-mylibrary {
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  background: url(../images/movie20.gif);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
