/* MODAL */
.is-hidden {
  transform: translateY(-10%);
  // display: none;
}
.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 15px;
  padding-right: 15px;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 400ms cubic-bezier(0.4, 0, 0.2, 1);
  visibility: visible;
  overflow-y: scroll;
  z-index: 100;
  will-change: opacity;
}

.modal__backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 30px;
  left: 0;
  margin: 0 auto;
  padding-top: 48px;
  width: 280px;
  height: fit-content;
  opacity: 1;
  pointer-events: initial;
  background-color: $color-modal-bg;
  border-radius: 12px;
  animation: modal 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  @keyframes modal {
    0% {
      transform: scale(0.3, 0.3);
    }

    100% {
      transform: scale(1, 1);
    }
  }

  transition: transform 100ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 400ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 99;
  will-change: opacity;

  @media screen and (min-width: 768px) {
    top: 80px;
    width: 628px;
    padding-top: 42px;
    height: fit-content;
  }

  @media screen and (min-width: 1024px) {
    top: 230px;
    top: 70px;
    width: 914px;
    padding-top: 50px;
  }
}

.modal__button-close {
  position: absolute;
  display: flex;
  align-items: center;
  top: 10px;
  right: 20px;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: $txt-modal-color;
  cursor: pointer;
  outline: none;
  // background-image: url('../images/close-button.svg');
  background-position: center;
  background-repeat: no-repeat;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    transform: scale(1.1);
  }
}

.modal__content {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: auto;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    width: 562px;
  }

  @media screen and (min-width: 1024px) {
    width: 820px;
  }
}

.hidden {
  overflow: hidden;
}

/* CARD */

.movie-card {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.img-container {
  margin-bottom: 34px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
    margin-right: 28px;
  }
}

.movie-card__image {
  border-radius: 5px;
  object-fit: cover; //------
  width: 242px;
  height: 356px;
  @media screen and (min-width: 768px) {
    width: 264px;
    height: 376px;
  }

  @media screen and (min-width: 1024px) {
    width: 396px;
    height: 478px;
  }
}

.movie-card__description {
  width: 234px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    width: 264px;
  }

  @media screen and (min-width: 1024px) {
    width: 394px;
  }
}

.movie-card__button {
  display: flex;
  width: 100%;
  height: 44px;
  margin: 0 auto;

  @media screen and (min-width: 1024px) {
    margin: 0;
  }
}

/* MOVIE */

.movie__title {
  margin-bottom: 23px;
  font-family: $font-family;
  font-style: normal;
  font-weight: $font-size-medium;
  font-size: 1.25rem;
  line-height: 1.4375rem;
  text-transform: uppercase;
  color: #000000;
  @media screen and (min-width: 1024px) {
    margin-bottom: 26px;
    font-size: 1.875rem;
    line-height: 2.1875rem;
  }
}

.movie__stats-list {
  width: inherit;
  padding: 0;
  margin-bottom: 26px;
}

/* Миша */

// .movie__stats-list {
//   font-family: $font-family;
//   color: $secondary-color-txt;
//   padding: 0;
//   margin-bottom: 26px;
//   min-width: 120px;
// }

// .movie-card__lists {
//   display: flex;
//   justify-content: space-between;
//   max-width: 215px;
//   @media screen and (min-width: 1024px) {
//     max-width: 259px;
//   }
// }

// .margin_none {
//   margin: 0px;
// }

.movie__stats-item {
  display: flex;
}

.movie__stats-item:not(:last-child) {
  margin-bottom: 12px;
}

.stats-title {
  display: flex;
  width: 80px;
  padding-right: 50px;
  white-space: nowrap;
  margin-right: 40px;
  font-family: $font-family;
  font-style: normal;
  font-weight: $font-size-medium;
  font-size: 0.75rem;
  line-height: 1rem;
  color: $secondary-color-txt;
  @media screen and (min-width: 1024px) {
    margin-right: 64px;
  }
}

.stats-description {
  width: 240px;
  display: flex;

  font-family: $font-family;
  font-style: normal;
  font-weight: $font-size-medium;
  font-size: 0.75rem;
  line-height: 1rem;
  color: $txt-modal-color;
}

.vote {
  font-weight: $font-size-medium;
  font-size: 0.75rem;
  line-height: 0.875rem;
  padding: 1px 10px;
  color: $color-modal-bg;
  background: $color-btn-bg;
  border-radius: 5px;
  margin-right: 4px;
}

.original-title {
  text-transform: uppercase;
}

.movie__description-text {
  margin-bottom: 18px;
  @media screen and (min-width: 768px) {
    margin-bottom: 38px;
  }

  @media screen and (min-width: 1024px) {
    margin-bottom: 24px;
  }
}

.movie__description-title {
  font-family: $font-family;
  font-style: normal;
  font-weight: $font-size-medium;
  font-size: 0.75rem;
  line-height: 1rem;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 18px;
}

.movie__description {
  font-family: $font-family;
  display: block;
  font-style: normal;
  font-weight: $font-size-medium;
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: #000000;
}
.btn-youtube {
  margin: 0 auto;
  cursor: pointer;
  width: 80px;
  height: 50px;
  background-color: transparent;
  border-color: transparent;
  border-radius: 10px;
  padding: 0px;
  color: $error-color-txt;
  &:hover,
  &:focus {
    box-shadow: 1px -2px 54px -12px rgba(232, 167, 15, 0.75);
    -webkit-box-shadow: 1px -2px 54px -12px rgba(232, 167, 15, 0.75);
    -moz-box-shadow: 1px -2px 54px -12px rgba(232, 167, 15, 0.75);
  }
}
.svg-youtube {
  width: 100%;
  height: 100%;
  fill: currentColor;
}
