.video-trailer {
  display: block;
  min-width: 350px;
  min-height: 360px;
  width: 100%;
  height: 100%;
}

.trailer-positioning {
  min-width: 420px;
  min-height: 315px;
  display: flex;
  justify-content: center;
  // padding: 0;
}
