$font-family: 'Roboto', sans-serif;
$font-size-regular: 400;
$font-size-medium: 500;
//* COLORS TEXT *//
$main-color-txt: #FFFFFF;
$secondary-color-txt: #545454;
$txt-modal-color: #000000;
$error-color-txt: #FF001B;
$active-color-txt: #FF6B08;
//* BACKGROUND COLOR *//
$main-color-bg:#E5E5E5;
$color-footer-bg: #F7F7F7;
$color-header-bg: rgba(0, 0, 0, 0.56);
$color-btn-bg: #FF6B01;
$color-modal-bg: #FFFFFF;