$font-family: 'Roboto', sans-serif;
$font-size-regular: 400;
$font-size-medium: 500;
//* COLORS TEXT *//
$main-color-txt: #ffffff;
$secondary-color-txt: #545454;
$txt-modal-color: #000000;
$error-color-txt: #ff001b;
$active-color-txt: #ff6b08;
//* BACKGROUND COLOR *//
$main-color-bg: #e5e5e5;
$color-footer-bg: #f7f7f7;
$color-header-bg: rgba(0, 0, 0, 0.56);
$color-btn-bg: #ff6b01;
$color-modal-bg: #ffffff;
