.background-mylibrary {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/nothinghere4.jpeg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
