/* MODAL */

.modal {
  position: fixed;
  display: flex;
  visibility: hidden;
  overflow-y: scroll;
  top: 20px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0 auto;
  padding-top: 48px;
  width: 280px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.42, 0, 0.58, 1);
  background-color: $color-modal-bg;
  border-radius: 5px;
  z-index: 1000;

  @media screen and (min-width: 768px) {
    width: 618px;
    padding-top: 42px;
    height: fit-content;
  }

  @media screen and (min-width: 1024px) {
    width: 882px;
    padding-top: 50px;
  }
}

.is-open {
  pointer-events: initial;
  visibility: visible;
  opacity: 1;
}

.modal__button-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: $txt-modal-color;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  background-image: url('../images/close.svg');
  background-position: center;
  background-repeat: no-repeat;

  @media screen and (min-width: 768px) {
    top: 10px;
    right: 10px;
  }
  @media screen and (min-width: 1024px) {
    top: 10px;
    right: 10px;
  }
}

.modal__content {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: auto;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    width: 562px;
  }

  @media screen and (min-width: 1024px) {
    width: 820px;
  }
}

.hidden {
  overflow: hidden;
}

/* CARD */

.movie-card {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.img-container {
  margin-bottom: 34px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
    margin-right: 28px;
  }
}

.movie-card__image {
  width: 242px;
  height: 356px;
  @media screen and (min-width: 768px) {
    width: 264px;
    height: 376px;
  }

  @media screen and (min-width: 1024px) {
    width: 396px;
    height: 478px;
  }
}

.movie-card__description {
  width: 234px;
  margin: 0 auto;
  @media screen and (min-width: 768px) {
    width: 264px;
  }

  @media screen and (min-width: 1024px) {
    width: 394px;
  }
}

.some-btn {
  width: 240px;
  height: 44px;
  background-color: $color-btn-bg;
  margin: 0 auto;

  @media screen and (min-width: 1024px) {
    margin: 0;
  }
}

/* MOVIE */

.movie__title {
  margin-bottom: 23px;
  font-family: $font-family;
  font-style: normal;
  font-weight: $font-size-medium;
  font-size: 1.25rem;
  line-height: 1.4375rem;
  text-transform: uppercase;
  color: #000000;
  @media screen and (min-width: 1024px) {
    margin-bottom: 26px;
    font-size: 1.875rem;
    line-height: 2.1875rem;
  }
}

.movie__stats-list {
  font-family: $font-family;
  color: $secondary-color-txt;
  padding: 0;
  margin-bottom: 26px;
}

.movie__stats-item:not(:last-child) {
  margin-bottom: 12px;
}

.movie__description-text {
  margin-bottom: 18px;
  @media screen and (min-width: 768px) {
    margin-bottom: 38px;
  }

  @media screen and (min-width: 1024px) {
    margin-bottom: 24px;
  }
}

.movie__description-title {
  font-family: $font-family;
  font-style: normal;
  font-weight: $font-size-medium;
  font-size: 0.75rem;
  line-height: 1rem;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 18px;
}

.movie__description {
  font-family: $font-family;
  display: block;
  font-style: normal;
  font-weight: $font-size-medium;
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: #000000;
}
