{{#each genres as |genre genreName|}}
  <li class='filter-item__list-item'>
    <label class='films-genres__label' for='input-genres {{genre.name}}'>
      <input class='input input-genres' type='checkbox' value={{genre.name}}/>{{genre.name}}</label>
  </li>
{{/each}}