<footer class="footer">
    <div class="container">
        <div class="footer-text">
            <div class="cocpyright">
              <p class="cocpyright-text">
                 © 2021 | All Rights Reserved | 
              </p>
            </div>
            <div>
              <span>
                  Developed with
                    <svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        d="M7 12.88L6.02 11.9C2.38 8.68 0 6.51 0 3.85C0 1.68 1.68 0 3.85 0C5.04 0 6.23 0.56 7 1.47C7.77 0.56 8.96 0 10.15 0C12.32 0 14 1.68 14 3.85C14 6.51 11.62 8.68 7.98 11.9L7 12.88Z"
                        fill="#FF6B08" />
                   </svg>
                   by&nbsp;
                   <a href="" class="students-modal" data-modal-footer-open>GoIT Students</a>
               </span>
            </div>

        </div>

        <!-- Модальное окно -->
        <div class="footer-backdrop is-hidden" data-modal-footer>
            <div class="footer-modal">
                <button class="footer-close-button" aria-label="Закрыть информацию о студентах" data-modal-footer-close>
                    <svg width="40" height="40" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M29.667 12.88L27.787 11l-7.454 7.453L12.88 11 11 12.88l7.453 7.453L11 27.787l1.88 1.88 7.453-7.454 7.454 7.454 1.88-1.88-7.454-7.454 7.454-7.453z"
                            fill="#212121" />
                    </svg>
                </button>

                    <div class="team">
                      <ul class="team-list">
        
                         <li class="team-item">
                            <a class="link-icon" href="https://github.com/MikhailKolomoitsev" target="_blank">
                            <img class="team-img" src="/images/team1.jpg" alt="Mikhail photo">
                            </a>
                            <h3 class="title-team">Mikhail</h3>
                            <p class="team-professional">Scrum Master</p>
                          </li>

                        <li class="team-item">
                            <a class="link-icon" href="https://github.com/wlad-kryhin" target="_blank">
                            <img class="team-img" src="/images/team2.jpeg" alt="Vlad photo">
                            </a>
                            <h3 class="title-team">Vlad</h3>
                            <p class="team-professional">Team Lead</p>
                        </li>

                        <li class="team-item">
                            <a class="link-icon" href="https://github.com/KasyanAndrey" target="_blank">
                            <img class="team-img" src="/images/team3.jpg" alt="Andrey photo">
                            </a>
                            <h3 class="title-team">Andrey</h3>
                            <p class="team-professional">Developer</p>
                        </li>

                        <li class="team-item">
                            <a class="link-icon" href="https://github.com/Maryna1212" target="_blank">
                            <img class="team-img" src="/images/team4.jpg" alt="Maryna photo">
                            </a>
                            <h3 class="title-team">Maryna</h3>
                            <p class="team-professional">Developer</p>
                        </li>

                        <li class="team-item">
                            <a class="link-icon" href="https://github.com/DimByl" target="_blank">
                            <img class="team-img" src="/images/team5.jpg" alt="Dmytro photo">
                            </a>
                            <h3 class="title-team">Dmytro</h3>
                            <p class="team-professional">Developer</p>
                        </li>

                        <li class="team-item">
                            <a class="link-icon" href="https://github.com/IraLogvina" target="_blank">
                            <img class="team-img" src="/images/team6.jpg" alt="Ira photo">
                            </a>
                            <h3 class="title-team">Ira</h3>
                            <p class="team-professional">Developer</p>
                        </li>

                        <li class="team-item">
                            <a class="link-icon" href="" target="_blank">
                            <img class="team-img" src="/images/team7.jpeg" alt="Vasyl photo">
                            </a>
                            <h3 class="title-team">Vasyl</h3>
                            <p class="team-professional">Developer</p>
                        </li>
                        </ul>
                   
                    </div>
          </div>        
      </div>
</footer>
