<header class="header header-background header-background-home" data-index="header">
  <div class="container">
  <nav class="nav" data-index="navigation">
    <a href="./index.html" class="nav-logo logo-style">
      <svg class="nav-logo-icon">
        <use href="./images/sprite.svg#icon-logo"></use>
      </svg>
      <span class="logo-text">Filmoteka</span>
    </a>
    <a class="nav-btn current" data-index="home" href="./index.html">HOME</a>
    <a class="nav-btn" data-index="mylibrary">MY LIBRARY</a>
  </nav>
<div class="theme-switch">
  <svg class="theme-switch__icon" role="img" aria-label="Иконка солнца">
    <use href="./images/sprite.svg#sun"></use>
  </svg>

  <div class="theme-switch__control">
    <input class="theme-switch__toggle" type="checkbox" name="theme" id="theme-switch-toggle"
      aria-label="Переключить между тёмной и светлой темой" />
    <label aria-hidden="true" class="theme-switch__track" for="theme-switch-toggle">
    </label>
    <div aria-hidden="true" class="theme-switch__marker"></div>
  </div>

  <svg class="theme-switch__icon" aria-label="Иконка луны">
    <use href="./images/sprite.svg#moon"></use>
  </svg>
</div>
</div>

  <form class="search-film" action="" data-index="search-form">
    <span class="form-input-wrapper">
      <input class="search-film-input" data-index="serchInfo" type="text" id="searchQuery" name="query" autocomplete="off"
        placeholder="Search films .." />
      <button class="submit-button" type="submit" id="submit">
        <svg class="search-icon">
          <use href="./images/sprite.svg#icon-search"></use>
        </svg>
      </button>
    </span>
    <!-- MENU FILTER -->
    <div class="menu-filter">
      <button class="menu-filter__button" type="button" data-action="open-menu-filter">Filter search</button>        
      <ul class="filter-list is-hidden">
        <button type="button" class="filter-list__button-close" data-action="close-filter-list"></button>
        <li class="filter-item">          
          <label class="filter-item__label" for="filter-input__new-films">
            <input id="filter-input__new-films" class="input" type="checkbox" checked/>New films
          </label>
        </li>
        <li class="filter-item">          
          <label class="filter-item__label" for="filter-input__top-films">
            <input id="filter-input__top-films" class="input" type="checkbox" checked/>Top films            
          </label>
        </li>
        <li class="filter-item item-genres">          
          <label class="filter-item__label" for="filter-input__films-genres">
            <input id="filter-input__films-genres" class="input" type="checkbox" checked/>Films genres</label>
          <ul class="filter-item__list list-genres is-hidden">
            <button type="button" class="filter-item__list-button-close button-genres" data-action="genres-button-close"></button>            
            <li class="filter-item__list-item">              
              <label class="films-genres__label" for="films-genres__input adventure">
                <input id="films-genres__input adventure" class="input" type="checkbox" checked/>Adventure</label>              
            </li>
            <li class="filter-item__list-item">              
              <label class="films-genres__label" for="films-genres__input action">
                <input id="films-genres__input action" class="input" type="checkbox" checked/>Action</label>              
            </li>
            <li class="filter-item__list-item">              
              <label class="films-genres__label" for="films-genres__input dramma">
                <input id="films-genres__input dramma" class="input" type="checkbox" checked/>Dramma</label>              
            </li>
            <li class="filter-item__list-item">              
              <label class="films-genres__label" for="films-genres__input mystery">
                <input id="films-genres__input mystery" class="input" type="checkbox" checked/>Mystery</label>              
            </li>
            <li class="filter-item__list-item">              
              <label class="films-genres__label" for="films-genres__input thriller">
                <input id="films-genres__input thriller" class="input" type="checkbox" checked/>Thriller</label>              
            </li>
          </ul>
        </li>
        <li class="filter-item">
          <label class="filter-item__label" for="filter-input__release-date">
            <input id="filter-input__release-date" class="input" type="checkbox" checked/>Release date</label>
          <!-- <ul class="filter-item__list list-date">
            <button type="button" class="filter-item__list-button-close button-genres" data-action="date-button-close"></button>
            <li class="filter-item__list-item">
              <label class="release-date__label" for="release-date__input 2021">
              <input id="release-date__input 2021" class="input" type="checkbox" checked/>2021
            </label>
            </li>
            <li class="filter-item__list-item">              
              <label class="release-date__label" for="release-date__input 2020">
                <input id="release-date__input 2020" class="input" type="checkbox" checked/>2020
              </label>
            </li>
            <li class="filter-item__list-item">              
              <label class="release-date__label" for="release-date__input 2019">
                <input id="release-date__input 2019" class="input" type="checkbox" checked/>2019
              </label>
            </li>
            <li class="filter-item__list-item">              
              <label class="release-date__label" for="release-date__input 2018">
                <input id="release-date__input 2018" class="input" type="checkbox" checked/>2018
              </label>
            </li>
            <li class="filter-item__list-item">              
              <label class="release-date__label" for="release-date__input 2017">
                <input id="release-date__input 2017" class="input" type="checkbox" checked/>2017
              </label>
            </li>
            <li class="filter-item__list-item">              
              <label class="release-date__label" for="release-date__input 2016">
                <input id="release-date__input 2016" class="input" type="checkbox" checked/>2016
              </label>
            </li>           
          </ul> -->
        </li>
      </ul>
    </div>
  </form>
      <!-- menu-filtr -->

      <!-- menu-filtr -->
</div>
</header>

<!-- <header class="header header-background-home" data-index="header">
    <nav class="nav" data-index="navigation">
        <a href="./index.html" class="nav-logo logo-style">
        <svg class="nav-logo-icon">
            <use href="./images/sprite.svg#icon-logo"></use>
        </svg>
        <span class="logo-text">Filmoteka</span>
        </a>
        <a class="nav-btn current" data-index="home">HOME</a>
        <a class="nav-btn" data-index="mylibrary">MY LIBRARY</a>
         <form class="library-buttons is-hidden">
                <button class="library-button active-btn">
                    WATCHED
                </button>
        
                <button class="library-button inactive-btn">
                    QUEUE
                </button>
            </form>
</header>