
<div class="container">
<ul class="film-list">
    <li class="film-item">
        <a href="" class="film-link">
            <img src="https://image.tmdb.org/t/p/w342/gYZAHan5CHPFXORpQMvOjCTug4E.jpg" alt="" class="film-img">
            <p class="film-description">project filmoteka
            </p>
            <p class="film-description film-gengers">project filmoteka<span class="film-raiting">8.1</span>
            </p>
            
        </a>
    </li>
    <li class="film-item">
        <a href="" class="film-link">
            <img src="https://image.tmdb.org/t/p/w342/piGZDwFW4urLYDWGiYJMrt6hdCS.jpg" alt="" class="film-img">
            <p class="film-description">project filmoteka
            </p>
            <p class="film-description  film-gengers">project filmoteka
            </p>
        </a>
    </li>
    <li class="film-item">
        <a href="" class="film-link">
            <img src="https://image.tmdb.org/t/p/w342/v7aOJKI5vxCHotHvN8O7SR6SpP6.jpg" alt="" class="film-img">
            <p class="film-description">project filmoteka
            </p>
            <p class="film-description film-gengers">project filmoteka
            </p>
        </a>
    </li>
    <li class="film-item">
        <a href="" class="film-link">
            <img src="https://avatarko.ru/img/kartinka/1/Crazy_Frog.jpg" alt="" class="film-img">
            <p class="film-description">project filmoteka
            </p>
            <p class="film-description film-gengers">project filmoteka
            </p>
        </a>
    </li>
    <li class="film-item">
        <a href="" class="film-link">
            <img src="https://avatarko.ru/img/kartinka/1/Crazy_Frog.jpg" alt="" class="film-img">
            <p class="film-description">project filmoteka
            </p>
            <p class="film-description film-gengers">project filmoteka
            </p>
        </a>
    </li>
    <li class="film-item">
        <a href="" class="film-link">
            <img src="https://avatarko.ru/img/kartinka/1/Crazy_Frog.jpg" alt="" class="film-img">
            <p class="film-description">project filmoteka
            </p>
            <p class="film-description film-gengers">project filmoteka
            </p>
        </a>
    </li>
    <li class="film-item">
        <a href="" class="film-link">
            <img src="https://avatarko.ru/img/kartinka/1/Crazy_Frog.jpg" alt="" class="film-img">
            <p class="film-description">project filmoteka
            </p>
            <p class="film-description film-gengers">project filmoteka
            </p>
        </a>
    </li>

    <li class="film-item">
        <a href="" class="film-link">
            <img src="https://avatarko.ru/img/kartinka/1/Crazy_Frog.jpg" alt="" class="film-img">
            <p class="film-description">project filmoteka
            </p>
            <p class="film-description film-gengers">project filmoteka
            </p>
        </a>
    </li>
    <li class="film-item">
        <a href="" class="film-link">
            <img src="https://avatarko.ru/img/kartinka/1/Crazy_Frog.jpg" alt="" class="film-img">
            <p class="film-description">project filmoteka
            </p>
            <p class="film-description film-gengers">project filmoteka
            </p>
        </a>
    </li>
    <li class="film-item">
        <a href="" class="film-link">
            <img src="https://avatarko.ru/img/kartinka/1/Crazy_Frog.jpg" alt="" class="film-img">
            <p class="film-description">project filmoteka
            </p>
            <p class="film-description film-gengers">project filmoteka
            </p>
        </a>
    </li>
    <li class="film-item">
        <a href="" class="film-link">
            <img src="https://avatarko.ru/img/kartinka/1/Crazy_Frog.jpg" alt="" class="film-img">
            <p class="film-description">project filmoteka
            </p>
            <p class="film-description film-gengers">project filmoteka
            </p>
        </a>
    </li>
    <li class="film-item">
        <a href="" class="film-link">
            <img src="https://avatarko.ru/img/kartinka/1/Crazy_Frog.jpg" alt="" class="film-img">
            <p class="film-description">project filmoteka
            </p>
            <p class="film-description film-gengers">project filmoteka
            </p>
        </a>
    </li>
    <li class="film-item">
        <a href="" class="film-link">
            <img src="https://avatarko.ru/img/kartinka/1/Crazy_Frog.jpg" alt="" class="film-img">
            <p class="film-description">project filmoteka
            </p>
            <p class="film-description film-gengers">project filmoteka
            </p>
        </a>
    </li>
    <li class="film-item">
        <a href="" class="film-link">
            <img src="https://avatarko.ru/img/kartinka/1/Crazy_Frog.jpg" alt="" class="film-img">
            <p class="film-description">project filmoteka
            </p>
            <p class="film-description film-gengers">project filmoteka
            </p>
        </a>
    </li>
    <li class="film-item">
        <a href="" class="film-link">
            <img src="https://avatarko.ru/img/kartinka/1/Crazy_Frog.jpg" alt="" class="film-img">
            <p class="film-description">project filmoteka
            </p>
            <p class="film-description film-gengers">project filmoteka
            </p>
        </a>
    </li>

</ul>
</div>